<% include partials/header.ejs %>

	<main class="row">
		<h3><strong><%= survey.name %></strong></h3>
			<div class="col s6">

				<% if(survey.type == "Agree/Disagree") { %>
					<form method="post">
							<% for (var j = 0; j < survey.questions.length; j++) { %>
								
								<h5>
									<%= "Question" + " " + (j+1) + ":" %> 
								</h5>
								<strong> 
									<%= survey.questions[j].text %>
								</strong>
								
								<p>
									<input name="answer_<%= survey.questions[j]._id %>" type="radio" id="true<%= j %>" required/>
									<label for="true<%= j %>">Agree</label>
								</p>
								<p>
									<input name="answer_<%= survey.questions[j]._id %>" type="radio" id="false<%= j %>" required />
									<label for="false<%= j %>">Disagree</label>
								</p>
								
							<% } %>
							<button class="btn waves-effect waves-light" type="submit" name="action">Submit
								<i class="material-icons right">send</i>
							</button>
		
					</form>
				<% } else {%>
					<form method="post">
						<% for (var j = 0; j < survey.questions.length; j++) { %>
							
							<h5>
								<%= "Question" + " " + (j+1) + ":" %> 
							</h5>
							<strong> 
								<%= survey.questions[j].text %>
							</strong>
							
								<p>
									<input name="answer_<%= survey.questions[j]._id %>" type="radio" id="1option<%= j %>" required/>
									<label for="1option<%= j %>"><%= survey.questions[j].options[0].text %></label>
								</p>
								<p>
									<input name="answer_<%= survey.questions[j]._id %>" type="radio" id="2option<%= j %>" required/>
									<label for="2option<%= j %>"><%= survey.questions[j].options[1].text %></label>
								</p>
								<p>
									<input name="answer_<%= survey.questions[j]._id %>" type="radio" id="3option<%= j %>" required/>
									<label for="3option<%= j %>"><%= survey.questions[j].options[2].text %></label>
								</p>

						<% } %>
						<button class="btn waves-effect waves-light" type="submit" name="action">Submit
							<i class="material-icons right">send</i>
						</button>
	
					</form>
				<% } %>
			</div>
	</main>
	
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
